body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  align-items: center;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  flex: 0;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
}

.content {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  min-width: 300px;
  padding: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {margin-bottom: 16px;}

a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.container {
  padding: 48px;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 200px;
  padding: 16px;
}